In [1]:
from Util import GREEN_TAXI

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

Loading Data:

In [2]:
df=GREEN_TAXI.pd.read_csv("./data/updated_RAW_TAXI.csv")

In [3]:
df["AREA"]=df.apply(lambda x: GREEN_TAXI.ZIP_CLEANER(x.PICKUP_ZIP) ,axis=1)
df=df.dropna()

# Data Cleaning 
Remove not related postal codes

In [4]:
df=GREEN_TAXI.data_cleansing(df)

Before cleansing shape : (1505341, 16)
----- CLEANSING -----
(1505341, 16)
(1505341, 16)
(1505341, 16)
(1505341, 16)
(1505341, 16)
----- CLEANSING -----
After cleansing shape : (1505341, 16)

In [5]:
df=df[["AREA" ,'Trip_distance', 'PICKUP_ZIP', 'P_Day','P_WEEK_Day', 'P_Hour', 'flag']]
df=df.groupby(["AREA","PICKUP_ZIP","P_Day","P_WEEK_Day","P_Hour"])['flag',"Trip_distance"].sum().reset_index()
### convert Mile to KM 
df["Trip_distance"]=df.apply(lambda x: GREEN_TAXI.mile_km(x.Trip_distance),axis=1)

df["P_Day"]=df.apply(lambda x: (str(x.P_Day).zfill(2)),axis=1)
df["P_Hour"]=df.apply(lambda x: (str(x.P_Hour).zfill(2)),axis=1)



df.head()

    AREA  PICKUP_ZIP P_Day P_WEEK_Day P_Hour  flag  Trip_distance
0  Bronx       10451    01     Monday     00    10     42.9371912
1  Bronx       10451    01     Monday     01    12     56.5683010
2  Bronx       10451    01     Monday     02     6     15.9807462
3  Bronx       10451    01     Monday     03     3      7.0006290
4  Bronx       10451    01     Monday     04     4     24.2044736

In [6]:
df

         AREA  PICKUP_ZIP P_Day P_WEEK_Day P_Hour  flag  Trip_distance
0       Bronx       10451    01     Monday     00    10     42.9371912
1       Bronx       10451    01     Monday     01    12     56.5683010
2       Bronx       10451    01     Monday     02     6     15.9807462
3       Bronx       10451    01     Monday     03     3      7.0006290
4       Bronx       10451    01     Monday     04     4     24.2044736
...       ...         ...   ...        ...    ...   ...            ...
60580  Staten       10314    27   Saturday     15     1     49.5998588
60581  Staten       10314    27   Saturday     16     1     32.1546132
60582  Staten       10314    28     Sunday     23     1     17.5418060
60583  Staten       10314    29     Monday     14     1     19.2959866
60584  Staten       10314    29     Monday     16     1     15.5623178

[60585 rows x 7 columns]

In [7]:
GREEN_TAXI.Monthly_report(df)

interactive(children=(IntSlider(value=15, description='DAY_OF_MONTH', max=29, min=1), Dropdown(description='AR…